body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: #232A37 !important;
}

/* css de login */

.login-div{
    background-color: #232A37;
}

@media(min-width: 576px){
    .login-div{
        margin-top: 5vh;
        min-height: 80vh;
        padding-top: 90px !important;
    }
}
@media(max-width: 576px){
    .login-div{
        min-height: 92.4vh;
    }
}

.form-control{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom-style:solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
}
.form-control::placeholder{
    color: white;
}
.form-control:focus{
    box-shadow: none;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom-style:solid;
    border-bottom-color: white;
    border-bottom-width: 2px;
}
.btn-submit{
    background-color: #E0006E;
    border-color: #E0006E;
    color: white;
    font-weight: 700 !important;
}
.btn-submit:hover{
    background-color: #E0006E;
    border-color: #E0006E;
    color: white;
}
.btn-submit:active{
    background-color: #E0006E !important;
    border-color: #E0006E !important;
    color: white;
}
.btn-submit:focus{
    box-shadow: none;
}
.link-password{
    color: #54DBEE;
    font-size: 17px;
}
.link-password:hover{
    color: #54DBEE;
}

/* fin css del login */

/* request email */

.div-form{
    background-color: #232A37;
}
.div-form h5{
    color: white;
}
@media(min-width:576px){
    .div-form{
        margin-top:20vh;
    }
}@media(max-width:576px){
    .div-form{
        height: 92.4vh;
    }
}
.btn-cancelar{
    color: white;
    font-weight: 700;
}
.btn-cancelar:hover{
    color:white;
}

/* fin request email */
