body{
    background-color: black;
    margin-left: 300px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
/*sidenav */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed !important;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #232A37;
  overflow-x: hidden !important;
  transition: 0.5s;
}
.sidenav::-webkit-scrollbar{
    width: 10px;
}
.sidenav::-webkit-scrollbar-track {
  background: #353B4A;
}
.sidenav::-webkit-scrollbar-thumb{
    background: #55DEF1;
}
.transform-rot{
    transform: rotate(180deg);
    transition: all 0.5s;
}
.top-div{
    background-color: #232A37;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icon-close{
    margin-top: 10px;
    color: white;
}
@media(min-width:800px){
    .icon-close{
        display: none;
    }
}
.user-name{
    color: white;
    margin-top: 20px;
}
.fa-cog{
    color: white;
}
.fa-cog:hover{
    color: #55DEF1;
}
.fa-power-off{
    color: white;
}
.fa-power-off:hover{
    color:#f54242;
}
.list-options{
    width: 100%;
}
.side-link{
    position:relative;
    display: block !important;
    width: 100%;
    height: 45px !important;
    padding-left: 25px;
    color: white;
    text-decoration: none;
    padding-top: 3%;
}
.side-link:hover{
    background-color: #353B4A;
    padding-left: 15px;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color:#55DEF1;
    color: #55DEF1;
}
.side-active{
    background-color: #353B4A;
    padding-left: 15px !important;
    border-left-width: 10px !important;
    color: #55DEF1 !important;
    border-left-style: solid;
    border-left-color:#55DEF1;
}
.link-dropdown{
    padding-left: 65px !important;
}
.link-dropdown:hover{
    padding-left: 55px !important;
}
.link-dropdown.side-active{
    padding-left: 55px !important;
}
.hide{
    display: none;
}
.fa-caret-down{
    float: right;
    margin-right: 40px;
}
/*end sidenav*/

/* MODAL-LOGOUT */
.modal-design{
    background-color: #232A37;
    color: white;
}
.modal-design .modal-body{
    background-color: #232A37;
    padding: 7%;
    color: white;
}
.modal-design .modal-header{
    border-bottom-color: #232A37;
}
.modal-design .modal-footer{
    border-top-color: #232A37;
}
.modal-design .modal-header .close{
    color: white;
}
.btn-modal-cancelar{
    color: white;
    text-decoration: none !important;
}
.btn-modal-cancelar:hover{
    color:white;
}
.btn-modal-aceptar{
    background-color: #F30069;
}
.btn-modal-aceptar:hover{
    background-color: #F30069;
}
.btn-modal-aceptar:active{
    background-color: #F30069 !important;
}

/* end modal-logout */

/* navbar titulo y botton */

.button-nav{
    background-color: black !important;
    z-index: 1;
}

/* fin navbar titulo y botton */


/*tooltips*/
.tooltip-inner {
    background-color:#00E7F7;
    color:black;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #00E7F7 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-right-color: #00E7F7 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: #00E7F7 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-right-color: #00E7F7 !important;
}

/*fin tooltips*/
