.title{
    color: #00E2F4;
}
.subtitle{
    color: #00E2F4;
    font-size: 12px;
}
.create-input{
    background-color: transparent;
    border-radius: 0px;
    border:none;
    color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: thin;
}
.create-input::placeholder{
    color: white;
}
.create-input:focus{
    background-color: transparent;
    color: white;
    border-color: white !important;
    box-shadow: none;
}
.select-input option{
    background-color: black;
    color: white;
}
.text-optional{
    color: white;
}
.buttons{
    margin-top: 20px;
    margin-bottom: 25px;
}
.buttons a , .buttons button{
    color:white;
    font-weight: 700;
}
.buttons a:hover{
    color:white;
    text-decoration: none;
}
.btn-next:hover{
    color:white;
    text-decoration: none;
}
.submit-button{
    background-color: #F30069;
}
.submit-button:hover{
    color: white;
}
.custom-file{
    z-index: 0;
}
.custom-file .custom-file-label{
    background-color: black;
    border-radius: 0px;
    color: white;
}
.custom-file-input:focus{
    box-shadow: none;
}
.custom-file1 .custom-file-label{
    border-top: none;
    border-left: none;
    border-right: none;
}
.custom-file-label::after{
    background-color: black;
    color: white;
    content: "Buscar" !important;
}
.add-button:hover{
    color: #00E2F4;
}
.table-hidden{
    display: none;
}
.circulo {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;

}
.circulo-inactive{
    background: black;
    border-style: solid;
    border-color: #00E2F4;
}
.circulo-active{
    background: #00E2F4;
    border-style: solid;
    border-color: #00E2F4;
}
.div-line hr{
    height: 0.5px;
    background-color: #00E2F4;
}
.div-line{
    position: absolute;
    margin-top: -4px;
}
.form-show{
    display: inline;
}
.form-hidde{
    display: none;
}
