.index-container{
    margin-top: 50px;
}
.search-input{
    background-color: transparent !important;
    border-color: #00E2F4 !important;
    color: #00E2F4 !important;
    border-right: none;
}
.btn-search{
    border-color:  #00E2F4;
    color:  #00E2F4;
    border-left: none;
}
.btn-search:hover{
    background-color: #00E2F4;
    color: black;
    border-color: #00E2F4 !important;
}
.btn-search:active{
    background-color: #00E2F4 !important;
    color: black !important;
    border-color: #00E2F4 !important;
}
.btn-search:focus{
    box-shadow: none !important;
}
.search-input::placeholder{
    color: #00E2F4 !important;
}
.index-button{
    background-color: #F30069;
    color: white;
}
.index-button:hover{
    color: white;
}
.table-titles{
    color:#00E2F4;
}
thead tr th{
    color:#00E2F4;
    border:none !important;
    border-bottom-style: solid !important;
    border-bottom-color: #00E2F4 !important;
    padding-bottom: 1.5% !important;
}
tbody{
    color: white;
}
tbody tr td{
    border:none !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-bottom-color: #00E2F4 !important;
}
.not-available{
    background-color: #FF4758;
}
.icon-table{
    color: #00E2F4;
}
.pagination{
    margin-bottom: 0px;
    justify-content: flex-end;
}
.page-item.disabled .page-link{
    color: #F30069;
    border-color: #F30069;
    background-color: transparent;
}
.page-item.active .page-link{
    color: white;
    border-color: #F30069;
    background-color: #F30069;
}
.page-link:hover{
    color: white;
    border-color: #F30069;
    background-color: #F30069;
}
.page-link{
    color: white;
    border-color: #F30069;
    border-radius: 0px;
    background-color: transparent;
}
.select-count{
    color: white;
}
.select-count select{
    border-radius: 0px;
    border-color: #F30069;
    background-color: black;
}
.select-count select option{
    color: #F30069 !important;
    background-color: black !important;
}
.sin-registros .fa-exclamation-triangle{
    color: #00E2F4 !important;
}
.sin-registros h4{
    color: #00E2F4;
}
