.title{
    color: #00E2F4;
}
.link:hover{
    color: #00E2F4;
}
thead tr th{
    color:#00E2F4;
    border:none !important;
    border-bottom-style: solid !important;
    border-bottom-color: #00E2F4 !important;
    padding-bottom: 1.5% !important;
}
tbody{
    color: white;
}
tbody tr td{
    border:none !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-bottom-color: #00E2F4 !important;
}
.back-button{
    background-color: #F30069;
    color: white;
}
.back-button:hover{
    color: white;
}
